.service-detail {
  padding: 20px;

/*   h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8rem;
  } */
   h3 {
    color: #354C7F;
     margin-top: 0;
     font-size: 1.5rem;
     text-align: center;
     font-weight: bold;
   }

  mat-expansion-panel {
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }

  mat-panel-title {
    font-weight: 600;
    font-size: 1rem;
    color: #ea7500
  }

  p {
    font-size: 0.95rem;
    color: #555;
    padding: 10px 0;
  }
}
