 .mobile-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem;

   &.center-logo {
     justify-content: center;

     .back {
       display: none;
     }
   }
 }

 .logo img {
   height: 40px;
   transition: all 0.3s ease;
 }

 