<div class="olvide-bg">
    <div class="header-login">
        <div class="mascota">
            <img src="../../../assets/images/dyn_mascota.png" alt="Logo Empresa" />
        </div>
        <div class="logo">
            <img src="../../../assets/images/logo_dyndorado.png" alt="Logo Empresa" />
        </div>
    </div>
    <div class="form-content">
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="login-form" autocomplete="off">
            <h2>Recuperar Contraseña</h2>

            <div class="form-group">
                <!-- <label for="email">Coloca tu correo electronico</label> -->
                <div class="email-wrapper">
                    <input id="email" type="email" formControlName="email"
                        [class.invalid]="email.invalid && email.touched" placeholder="jhon@correo.com" />
                </div>
                <h4>Se enviara un link a tu correo electrónico para que que crees una nueva contraseña</h4>
                <div class="error" *ngIf="email.invalid && email.touched">
                    <span *ngIf="email.errors?.['required']">El correo es obligatorio.</span>
                    <span *ngIf="email.errors?.['email']">Formato de correo inválido.</span>
                </div>
            </div>

            
            <button type="submit" [disabled]="loading || forgotForm.invalid">
                <span *ngIf="!loading">Recuperar</span>
                <span *ngIf="loading" class="spinner"></span>
            </button>

            <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
            <!-- Enlaces adicionales dentro del formulario -->
            <div class="extra-links">
                <span><a (click)="goToLogin()">¿Ya tienes una cuenta? Inicia sesión</a></span>
                <!-- <a routerLink="/olvide">¿Olvidaste tu contraseña?</a>
                <span>¿Aun no tienes una cuenta? <a routerLink="/register">Regístrate</a></span> -->
            </div>
        </form>
    </div>

    <footer>
        <div class="right">
            <img src="../../../assets/images/dyn_cuadros.png" alt="Logo Empresa" />
        </div>
    </footer>
</div>