<!-- <footer class="mobile-footer">
  <p class="ley" [routerLink]="['/mobile/LeyTargeta']"> POLITICA TARJETA DYNAMIC</p>
  <p>&copy; 2025 Sointel</p>
</footer> -->

<nav class="bottom-nav">
  

  <a routerLink="/mobile/perfil" routerLinkActive="active">
    <i class="fas fa-user"></i>
    <span>Perfil</span>
  </a>

  <a routerLink="/mobile/home" routerLinkActive="active">
    <i class="fas fa-home"></i>
    <span>Home</span>
  </a>

  <a routerLink="/mobile/record" routerLinkActive="active">
    <i class="fas fa-history"></i>
    <span>Historial</span>
  </a>
</nav>


