.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #030979;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ccc;
  padding: 8px 0;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);

  a {
    background: linear-gradient(135deg, #f5e197, #d4af37, #b8860b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    text-decoration: none;
    text-align: center;
    flex: 1;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;

    i {
      font-size: 20px;
      margin-bottom: 2px;
    }

    &.active {
      color: #ccc;
    }
  }
}