<h3>Información financiera</h3>
<div class="dashboard">
    <div class="resumen">
        <div class="resumen">
            <div class="card saldo" [routerLink]="['/mobile/record']">
                <img src="assets/icon-finanzas/comision.png" alt="">               
                <p>{{ account?.saldo_total | currency }}</p>
                <h2>Comisión</h2>
            </div>
            <div class="card ahorro">
                <img src="assets/icon-finanzas/ahorro.png" alt="">                
                <p>{{ account?.saldo_ahorro | currency }}</p>
                <h2>Ahorro</h2>
            </div>
            <div class="card inversion">
                <img src="assets/icon-finanzas/inversion.png" alt="">                
                <p>{{ account?.saldo_inversiones | currency }}</p>
                <h2>Inversión</h2>
            </div>
        </div>
    </div>
    <h3>Movimientos recientes</h3>
    <table class="movimientos">
        <thead>
            <tr>
                <th>Serv / Prod</th>
                <th>Monto</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let m of movements | slice:0:5" class="movement-item">
                <td>{{ m.type }}</td>
                <td [ngClass]="{ ingreso: m.monto > 0, egreso: m.monto < 0 }">
                    ${{ m.amount | number:'1.0-0' }}
                </td>
                <td>{{ m.date }}</td>
            </tr>
        </tbody>
    </table> 
</div>



<!-- <table>
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Monto</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let m of movements">
            <td>{{ m.type }}</td>
            <td>{{ m.amount | currency }}</td>
            <td>{{ m.date | date: 'shortDate' }}</td>
        </tr>
    </tbody>
</table> -->