h3 {
    background-color: #eee;
    color: #354C7F;
    margin-top: 0;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;

}

.financial-container {
    padding: 2rem;

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .mycards {
        /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem; */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.5rem;
        color: #fff;
        

        .mycard {
            //background-color: #d4af37;
            background: linear-gradient(135deg, #f5e197, #d4af37, #b8860b);
            //color: transparent;
            //-webkit-background-clip: text;
            //background-clip: text;
            //background-image: URL('/assets/images/fondo-cards.png');
            background-size: cover;
            background-repeat: no-repeat;
            /* width: 200px;
            height: 266px; */
            width: 140px;

            gap: 1.5rem;
            border-radius: 10px;
            /* padding: 1rem; */
            text-align: center;
            animation: fadeInUp 0.6s ease forwards;
            opacity: 0;
            box-shadow: -6px 6px 12px rgba(0, 0, 0, 3);
            padding: 20px;
            cursor: pointer;

            &:nth-child(1) {
                animation-delay: 0.1s;
            }

            &:nth-child(2) {
                animation-delay: 0.3s;
            }

            &:nth-child(3) {
                animation-delay: 0.5s;
            }

            &:nth-child(4) {
                animation-delay: 0.7s;
            }

            h2 {
                margin: 0.5rem 0;
                font-size: 0.8rem;
                font-weight: 900;
                /* border: solid 1px #fff; */
                border-radius: 8px;
                /* background-color: #fff; */
                color: #050d62;
            }

            p {
                font-size: 0.85rem;
                color: #050d62;
                font-weight: 400;
            }

            strong {
                font-size: 1.4rem;
                display: block;
                margin-top: 0.5rem;
            }

            i {
                font-size: 2.2rem;
                margin-bottom: 0.5rem;
                color: #00afef;
            }

            img {
                width: 100%;
            }

            &:hover {
                box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
            }

            @media (min-width: 1024px) {
                width: calc(20%);
            }
        }

        @media (min-width: 600px) {
            display: flex;
            justify-content: space-evenly;
        }

        @media (min-width: 1024px) {
            display: flex;
            justify-content: center;
        }
    }

    // Escala a 2 columnas solo en pantallas grandes
    @media (min-width: 600px) {
        .cards {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}